@model Product

@{
    var product = Model;
}
<table class="table table-bordered table-hover" style="text-align: center;">
    @{
        int index = 0;
        int colSpan = 3;
    }
    <thead>
    <tr>
        <th style="width: 10px;">#</th>
        @if (product.Skus.Any(sku => sku.SkuAttributes.Any()))
        {
            colSpan++;
            <th>Attributes</th>
        }
        <th>Date</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Amount</th>
        <th>Total Profit</th>
        <th>Total Discount</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var sku in Model.Skus.OrderByDescending(s => s.Date))
    {
        @foreach (var sale in sku.Sales.Where(s => s.IsConfirmed).OrderByDescending(s => s.SaleInvoice.Date))
        {
            index++;
            <tr>
                <td>@index</td>
                @if (product.Skus.Any(sku1 => sku1.SkuAttributes.Any()))
                {
                    <td style="font-weight: bolder">
                        @if (sku.SkuAttributes.Any())
                        {
                            @string.Join(" - ", sku.SkuAttributes.Select(skuAtt => skuAtt.Option.Name))
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </td>
                }
                <td>@sale.SaleInvoice.Date.ToString("dd-MM-yyyy")</td>
                <td>@sale.Price.ToString("N0")/-</td>
                <td>@sale.Quantity</td>
                <td>@((sale.Price * sale.Quantity).ToString("N0"))/-</td>
                <td>@((sale.Profit * sale.Quantity).ToString("N0"))/-</td>
                <td>@((sale.Discount * sale.Quantity).ToString("N0"))/-</td>
            </tr>
        }
    }
    </tbody>
    <tfoot>
    <tr>
        <th colspan="@colSpan">Total</th>
        <th>@product.Skus.Sum(sku => sku.Sales.Where(s => s.IsConfirmed).Sum(s => s.Quantity))</th>
        <th>@ViewData["TotalSales"]/-</th>
        <th>@product.Skus.Sum(sku => sku.Sales.Where(s => s.IsConfirmed).Sum(sale => sale.Profit * sale.Quantity)).ToString("N0")/-</th>
        <th>@product.Skus.Sum(sku => sku.Sales.Where(s => s.IsConfirmed).Sum(sale => sale.Discount * sale.Quantity)).ToString("N0")/-</th>
    </tr>
    </tfoot>
</table>
