@using Shopper.Mvc.ViewModels
@model List<Product>;

@{
    Layout = "_Layout";
    var newProduct = new ProductFormModel
    {
        HasExpirationDate = false
    };
    ViewData["FormName"] = "_ProductForm";
    ViewData["AllowFileUpload"] = true;
}

@section css {
    <th:partial name="Partials/_DtCss"></th:partial>
    <!-- iCheck for checkboxes and radio inputs -->
    <th:link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css"></th:link>
    <th:link rel="stylesheet" href="~/plugins/select2-4.0.5/css/select2.min.css"></th:link>
    <th:link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"></th:link>
    <!-- Toastr -->
    <th:link rel="stylesheet" href="~/plugins/toastr/toastr.min.css"></th:link>
}

<div class="card with-border">
    <div class="card-header">
        <a href="" data-toggle="modal" data-target="#add-product" class="btn btn-sm btn-primary float-right" title="Add User">
            <i class="fas fa-user-plus"> Add</i>
        </a>
    </div>
    <!-- /.card-header -->

    <div class="card-body table-responsive p-3">
        <table class="table table-sm table-hover dt-table">
            <thead>
            <tr>
                <th style="width: 10px;">#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Attributes</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @{
                int index = 0;
            }
            @foreach (var product in Model)
            {
                var editTitle = $"Edit Product ({product.Name})";
                index++;
                <tr>
                    <td>@index</td>
                    <td>@product.Name</td>
                    <td>@product.ProductType.Name</td>
                    <td>@string.Join(", ", product.Attributes.Select(att => att.Attribute.Name))</td>
                    <td>
                        <th:a asp-action="Show" asp-route-id="@product.Id"
                              class="btn btn-default btn-sm" title="View Details">
                            @* <span class="badge badge-warning" title="Edit product"> *@
                            <i class="fas fa-eye"></i>
                            @* </span> *@
                        </th:a>
                        <a href="#"
                           onclick="openEditModal('@Url.Action("EditProductModal", new {id = product.Id})',
                            '@Url.Action("Update", "Product", new {id = product.Id})',
                            '@editTitle', null)"
                           class="btn btn-default btn-sm" title="Edit product">
                            @* <span class="badge badge-warning" title="Edit product"> *@
                            <i class="fas fa-edit"></i>
                            @* </span> *@
                        </a>
                        <th:a asp-controller="Product"
                              asp-action="Delete"
                              asp-route-id="@product.Id" class="btn btn-default btn-sm btn-delete" title="Delete product">
                            @* <span class="badge badge-danger" title="Delete product"> *@
                            <i class="fas fa-trash"></i>
                            @* </span> *@
                        </th:a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<th:partial name="Partials/_EditModal" model="newProduct" view-data="ViewData"/>

<!-- /.card -->
<div class="modal fade" id="add-product">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <th:form class="" enctype="multipart/form-data" id="form" asp-controller="Product" asp-action="Create" method="post">
                    <th:partial name="_ProductForm" model="newProduct"/>
                </th:form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <th:partial name="Partials/_DtJs"></th:partial>
    <th:partial name="_ValidationScriptsPartial"></th:partial>
    <th:partial name="Partials/_ToastScript"></th:partial>
    <!-- Select2 -->
    <th:script src="~/plugins/select2-4.0.5/js/select2.full.min.js"></th:script>
    <th:script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></th:script>
    <th:script src="~/js/edit-form.js"></th:script>
    <script >
        //Initialize Select2 Elements
        $('.select2bs4').select2({
          theme: 'bootstrap4'
        });

        useDeleteConfirmation();

        $(function () {
          bsCustomFileInput.init();
        });

        $("#ProductGroupId").change(function()
            {
                var groupId=$(this).val();
                if (groupId){

                $('#ProductCategoryId').select2({
                ajax: {
                  url: 'http://localhost:5000/product-categories/'+groupId+'/ajax',
                  dataType: 'json',
                  processResults: function (data) {
                      console.log(data);
                    if (data.length !== 0){
                        console.log('data is not null');

                                                return {
                                                  results: data
                                                };
                                                      } else {
                                                       $('#ProductCategoryId').val(null).change();
                                                      }return {
                      results: data
                    };
                  }
                }
              });
                    } else {
                    $('#ProductCategoryId').val(null).change();
                    }
            });

        $("#ProductCategoryId").change(function()
                    {
                        var categoryId=$(this).val();
                        if (categoryId)
                            {

                        $('#ProductTypeId').select2({
                        ajax: {
                          url: 'http://localhost:5000/product-types/'+categoryId+'/ajax',
                          dataType: 'json',
                          processResults: function (data) {
                      console.log(data);
                              if (data.length !== 0){
                                  console.log('data is not null');
                            return {
                              results: data
                            };
                                  } else {
                                   $('#ProductTypeId').val(null).change();
                                  }
                          }
                        }
                      });
                                }  else {
                                                      $('#ProductTypeId').val(null).change();
                                                      }
                    });
    </script>
}
