@using Shopper.Mvc.ViewModels
@using Shopper.Extensions.Helpers
@using IdentityServer4.Extensions
@model List<Product>;

@{
    Layout = "_Layout";
    var request = @ViewContext.HttpContext.Request;
    var url = "";
    if (request.Host.Host.Contains("localhost"))
    {
        url = $"{request.Scheme}://{request.Host.Host}:{request.Host.Port}";
    }
    else
    {
        url = $"{request.Scheme}://{request.Host.Host}";
    }
    var newProduct = new ProductFormModel
    {
        HasExpirationDate = false
    };
    ViewData["FormName"] = "_ProductForm";
    ViewData["AllowFileUpload"] = true;
}

@section css {
    <th:partial name="Partials/_DtCss"></th:partial>
    <!-- iCheck for checkboxes and radio inputs -->
    <th:link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css"></th:link>
    <th:link rel="stylesheet" href="~/plugins/select2-4.0.5/css/select2.min.css"></th:link>
    <th:link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"></th:link>
    <!-- Toastr -->
    <th:link rel="stylesheet" href="~/plugins/toastr/toastr.min.css"></th:link>
}

<div class="card with-border">
    <div class="card-header">
        <th:permission name="product_add">
            <a href="" data-toggle="modal" data-target="#add-product" class="btn btn-sm btn-primary float-right" title="Add User">
                Add Product
            </a>
        </th:permission>
    </div>
    <!-- /.card-header -->

    <div class="card-body table-responsive p-3">
        <table class="table table-sm table-hover dt-table">
            <thead>
            <tr>
                <th style="width: 10px;">#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Attributes</th>
                @if (Model.Any(p => p.HasExpiration))
                {
                    <th>Has Expirtion Date</th>
                }
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @{
                int index = 0;
            }
            @foreach (var product in Model)
            {
                var editTitle = $"Edit Product ({product.Name})";
                var hasExpiry = product.HasExpiration ? "Yes" : "No";
                index++;
                <tr>
                    <td>@index</td>
                    <td>
                        @if (!product.ImagePath.IsNullOrEmpty())
                        {
                            <img class="table-avatar" style="border-radius: 15%; display: inline; width: 2.5rem" src="@product.ImagePath.LoadProductImageThumbnail(ViewContext.HttpContext)" alt="">
                        }
                        @product.Name
                    </td>
                    <td>@product.ProductType.Name</td>
                    <td>@string.Join(", ", product.Attributes.Select(att => att.Attribute.Name))</td>
                    @if (Model.Any(p => p.HasExpiration))
                    {
                        <td>@hasExpiry</td>
                    }
                    <td>
                        <th:a asp-action="Show" asp-route-id="@product.Id"
                              class="btn btn-default btn-sm" title="View Details">
                            @* <span class="badge badge-warning" title="Edit product"> *@
                            <i class="fas fa-eye"></i>
                            @* </span> *@
                        </th:a>
                        <th:permission name="product_edit">
                            <a href="#"
                               onclick="openEditModal('@Url.Action("EditProductModal", new {id = product.Id})',
                            '@Url.Action("Update", "Product", new {id = product.Id})',
                            '@editTitle', null)"
                               class="btn btn-default btn-sm" title="Edit product">
                                @* <span class="badge badge-warning" title="Edit product"> *@
                                <i class="fas fa-edit"></i>
                                @* </span> *@
                            </a>
                        </th:permission>
                        <th:permission name="product_delete">
                            <th:a asp-controller="Product"
                                  asp-action="Delete"
                                  asp-route-id="@product.Id" class="btn btn-default btn-sm btn-delete" title="Delete product">
                                @* <span class="badge badge-danger" title="Delete product"> *@
                                <i class="fas fa-trash"></i>
                                @* </span> *@
                            </th:a>
                        </th:permission>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<th:permission name="product_edit">
    <th:partial name="Partials/_EditModal" model="newProduct" view-data="ViewData"/>
</th:permission>

<th:script src="~/js/edit-product-form.js"></th:script>

<th:permission name="product_add">
    <!-- /.card -->
    <div class="modal fade" id="add-product">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <th:form class="" enctype="multipart/form-data" id="form" asp-controller="Product" asp-action="Create" method="post">
                        <th:partial name="_ProductForm" model="newProduct"/>
                    </th:form>
                </div>
            </div>
        </div>
    </div>
</th:permission>

@section scripts
{
    <th:partial name="Partials/_DtJs"></th:partial>
    <th:partial name="_ValidationScriptsPartial"></th:partial>
    <th:partial name="Partials/_ToastScript"></th:partial>
    <th:script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></th:script>
    <!-- Select2 -->
    <th:script src="~/plugins/select2-4.0.5/js/select2.full.min.js"></th:script>
    <th:script src="~/js/cascading-select2.js"></th:script>
    <script >
        //Initialize Select2 Elements
        $('.select2bs4').select2({
          theme: 'bootstrap4'
        });

        useDeleteConfirmation();

        $(function () {
          bsCustomFileInput.init();
        });

        $('[name=ProductGroupId]').on("change",
         populateChildSelect("ProductGroupId",
          "ProductCategoryId",
           '@url'+"/product-categories/:parentId:/ajax",
            "Product Category",
             "Product Group",
             "ProductTypeId"
             ));
        $('[name=roductGroupId]').on("change",
                 populateChildSelect("ProductCategoryId", "ProductTypeId",
                  '@url'+"/product-types/:parentId:/ajax",
                   "Product Type", "Product Category"));
    </script>
}
