@using Microsoft.EntityFrameworkCore.Internal
@using Shopper.Extensions.Helpers
@using Microsoft.AspNetCore.Http
@using Shopper.Mvc.ViewModels
@model Product;
@{
    Layout = "_Layout";
    var product = @Model;
    var imagesViewModel = new ImagesUploadModel
    {
        CurrentImageName = product.ImagePath,
        ImagesCount = (short) (4 - product.Images.Count)
    };
}

@section css
{
    <!-- dropzonejs -->
    <th:link rel="stylesheet" href="~/plugins/dropzone/min/dropzone.min.css"></th:link>
    <style type="text/css">
        .product-image-wrapper, .product-image-thumb {
          position: relative;
        ...
        }
        .close-button {
          position: absolute;
          top: 2px;
          right: 2px;
          z-index: 100;
        ...
        }
        .edit-button {
                  position: absolute;
                  top: 2px;
                  right: 25px;
                  z-index: 100;
                ...
                }

        fieldset
        	{
        		border: 1px solid #ddd !important;
        		margin: 0;
        		xmin-width: 0;
        		padding: 10px;
        		position: relative;
        		border-radius:4px;
        		background-color:#f5f5f5;
        		padding-left:10px!important;
        	}

        		legend
        		{
        			font-size:14px;
        			font-weight:bold;
        			margin-bottom: 0px;
        			width: 35%;
        			border: 1px solid #ddd;
        			border-radius: 4px;
        			padding: 5px 5px 5px 10px;
        			background-color: #ffffff;
        		}
      </style>
}

<div class="card card-solid">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="col-12 product-image-wrapper">
                    <th:a class="product-image-delete-link btn-delete" id="delete-button" asp-controller="Product" asp-action="DeleteMainImage" asp-route-id="@product.Id" style="color: red">
                        <i class="fas fa-times-circle close-button"></i>
                    </th:a>
                    <i class="fas fa-edit edit-button" id="edit-button" onclick="openImageEditModal('@Url.Action("UpdateMainImage", "Product", new {id = product.Id})')"></i>
                    <th:img asp-append-version="true" src="@product.ImagePath.LoadProductImage(ViewContext.HttpContext)" class="product-image" alt="Product Image"/>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <h3 class="my-3">@product.Name - @product.ProductCategory.Name</h3>
                @if (product.Skus.Any() && product.Attributes.Any())
                {
                    <hr>
                    <h4>Available Options</h4>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        @foreach (var skuAtt in product
                            .Skus
                            .Select(sku => string.Join(" - ", sku.SkuAttributes.Select(skuAtt => skuAtt.Option.Name))).ToList().Distinct())
                        {
                            <label class="btn btn-default text-center active">
                                @skuAtt
                            </label>
                        }
                    </div>
                }
                <hr>

                <div class="col-12 product-image-thumbs">
                    <div class="product-image-thumb active">
                        <th:a asp-controller="Product" asp-action="DeleteMainImage" asp-route-id="@product.Id" class="delete-image" hidden>
                        </th:a>
                        <i class="fas fa-edit edit-image" hidden onclick="openImageEditModal('@Url.Action("UpdateMainImage", "Product", new {id = product.Id})')"></i>
                        <th:img asp-append-version="true" src="@product.ImagePath.LoadProductImage(ViewContext.HttpContext)" alt="Product Image"/>
                    </div>
                    @foreach (var image in product.Images)
                    {
                        var editLink = $"edit_{image.Id}";
                        <div class="product-image-thumb">
                            <th:a asp-controller="Product" asp-action="DeleteOtherImage" asp-route-id="@image.Id" class="delete-image btn-delete" hidden>
                            </th:a>
                            <i class="fas fa-edit edit-image" hidden onclick="openImageEditModal('@Url.Action("UpdateOtherImage", "Product", new {id = image.Id})')"></i>
                            <img src="@image.ImagePath.LoadProductImage(ViewContext.HttpContext)" alt="Product Image">
                        </div>
                    }
                    @if (product.Images.Count < 4)
                    {
                        <a href="" data-toggle="modal" data-target="#add-product-images" title="Add Product Images">
                            <i style="padding-top: 20px" class="fas fa-plus fa-3x"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
        <hr><br>
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1">
                        <i class="fas fa-warehouse"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total stock units</span>
                        <h5 class="info-box-number">
                            @product.Skus.Sum(s => s.Quantity)
                        </h5>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1">
                        <i class="fas fa-dolly-flatbed"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">In stock</span>
                        <h5 class="info-box-number">@product.Skus.Where(s => s.RemainingQuantity > 0).Sum(s => s.RemainingQuantity)</h5>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1">
                        <i class="fas fa-coins"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total stock value</span>
                        <h5 class="info-box-number">@product.Skus.Sum(s => s.BuyingPrice * s.Quantity).ToString("N0")/-</h5>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1">
                        <i class="fas fa-piggy-bank"></i>
                    </span>

                    <div class="info-box-content">
                        <span class="info-box-text">Total sales</span>
                        <h5 class="info-box-number">@product.Skus.Sum(s => s.Sales.Any() ? s.Sales.Select(sale => sale.Price * sale.Quantity).First() : 0).ToString("N0")/-</h5>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        @*<div class="row">
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    <span class="description-text">Total stock units</span>
                    <h5 class="description-header">@product.Skus.Sum(s => s.Quantity)</h5>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    $1$ <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span> #1#
                    <span class="description-text">In stock</span>
                    <h5 class="description-header">@product.Skus.Where(s => s.RemainingQuantity > 0).Sum(s => s.RemainingQuantity)</h5>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                    $1$ <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span> #1#
                    <span class="description-text">Total stock value</span>
                    <h5 class="description-header">@product.Skus.Sum(s => s.BuyingPrice * s.Quantity).ToString("N0")/-</h5>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
                <div class="description-block">
                    $1$ <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span> #1#
                    <span class="description-text">Total sales</span>
                    <h5 class="description-header">@product.Skus.Sum(s => s.Sales.Any() ? s.Sales.Select(sale => sale.Price * sale.Quantity).First() : 0).ToString("N0")/-</h5>
                </div>
                <!-- /.description-block -->
            </div>
        </div>*@
        <div class="row mt-4">
            <nav class="w-100">
                <div class="nav nav-tabs" id="product-tab" role="tablist">
                    <a class="nav-item nav-link active" id="stock-tab" data-toggle="tab" href="#stock" role="tab" aria-controls="stock" aria-selected="true">Stock History</a>
                    <a class="nav-item nav-link" id="sales-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="false">Sales History</a>
                    @* <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Rating</a> *@
                </div>
            </nav>
            <div class="tab-content p-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="stock" role="tabpanel" aria-labelledby="stock-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <th:partial name="_ProductSkus"/>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <th:partial name="_ProductSales"></th:partial>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<div class="modal fade" id="add-product-images">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Product Images</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <th:form enctype="multipart/form-data" id="form" asp-controller="Product" asp-action="AddImages" asp-route-id="@product.Id" method="post">
                    <th:partial name="_AddProductImageForm" model="imagesViewModel"/>
                </th:form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-image-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="edit-image-title">Edit Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <th:form enctype="multipart/form-data" href="#" id="edit-image-action" method="post">
                    <th:partial name="_UpdateImageForm" model="new UpdateImageModel()"/>
                </th:form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!-- dropzonejs -->
    <th:script src="~/plugins/dropzone/min/dropzone.min.js"></th:script>
    <th:script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></th:script>
    <script >
    $('.product-image-thumb').on('click', function () {
        var image_element = $(this).find('img');
            var image_delete_link = $(this).find('.delete-image');
            var image_edit_on_click = $(this).find('.edit-image');
            console.log(image_delete_link);
            console.log(image_edit_on_click);
            console.log($(image_edit_on_click).attr('onclick'));
            $('.product-image').prop('src', $(image_element).attr('src'));
            $('#delete-button').prop('href', $(image_delete_link).attr('href'));
            $('#edit-button').attr('onclick', $(image_edit_on_click).attr('onclick'));
            $('.product-image-thumb.active').removeClass('active');
            $(this).addClass('active');
      })
      useDeleteConfirmation();
        $(function () {
                  bsCustomFileInput.init();
                });
        function openImageEditModal(actionUrl, title = null) {
            if (title) {
                $("#edit-image-title").html(title)
            }
            $('#edit-image-action').attr("action", actionUrl);
            $("#edit-image-modal").modal("show");
        }
    </script>

    <th:partial name="_ValidationScriptsPartial"></th:partial>
    <th:partial name="Partials/_ToastScript"></th:partial>
}
