@using Microsoft.AspNetCore.Hosting
@using Shopper.Extensions.Helpers
@using IdentityServer4.Extensions
@model IEnumerable<SidebarMenu>
@inject IWebHostEnvironment Environment;
@{
    var tenant = ViewContext.GetCurrentTenant();
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-mini sidebar-dark-lightblue elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link navbar-lightblue">
        @if (!tenant.LogoPath.IsNullOrEmpty())
        {
            <img
                src="@tenant.LogoPath.LoadTenantImageThumbnail(ViewContext.HttpContext)" class="brand-image img-circle elevation-3" style="opacity: .8"/>
        }
        <span class="brand-text font-weight-bolder">@tenant.Name</span>
    </a>

    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-collapse-hide-child nav-child-indent nav-compact flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @foreach (var menu in Model)
                {
                    if (menu.Type == SidebarMenuType.Header)
                    {
                        <li class="nav-header">@menu.Name</li>
                    }
                    else if (menu.Type == SidebarMenuType.Link)
                    {
                        var active = string.Empty;
                        if (menu.URLPath != "/" && @Context.Request.Path.Value.Contains(menu.URLPath))
                        {
                            active = "active";
                        }
                        <li class="nav-item">
                            <a href="@menu.URLPath" class="nav-link @active">
                                <i class="nav-icon @menu.IconClassName"></i>
                                <p>
                                    @menu.Name
                                    @{
                                        if (menu.LinkCounter.Item1 > 0)
                                        {
                                            <span class="badge badge-primary right">@menu.LinkCounter.Item1</span>
                                        }
                                        if (menu.LinkCounter.Item2 > 0)
                                        {
                                            <span class="badge badge-success right">@menu.LinkCounter.Item2</span>
                                        }
                                        if (menu.LinkCounter.Item3 > 0)
                                        {
                                            <span class="badge badge-danger right">@menu.LinkCounter.Item3</span>
                                        }
                                    }
                                </p>
                            </a>
                        </li>
                    }
                    else if (menu.Type == SidebarMenuType.Tree)
                    {
                        var active = string.Empty;
                        var menuopen = string.Empty;
                        var pathValue = Context.Request.Path.Value;
                        if (menu.TreeChild.Any(x => pathValue.Contains(x.URLPath) && !pathValue.Contains("add-sale")))
                        {
                            active = "active";
                            menuopen = "menu-open";
                        }

                        <li class="nav-item @active @menuopen">
                            <a href="#" class="nav-link @active">
                                <i class="nav-icon @menu.IconClassName"></i>
                                <p>
                                    @menu.Name <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @foreach (SidebarMenu subMenu in menu.TreeChild)
                                {
                                    active = string.Empty;
                                    if (Context.Request.Path.Value.EndsWith(subMenu.URLPath))
                                    {
                                        active = "active";
                                    }
                                    <li class="nav-item">
                                        <a href="@subMenu.URLPath" class="nav-link @active">
                                            <i class="@subMenu.IconClassName nav-icon"></i>
                                            <p>
                                                @subMenu.Name
                                                @{
                                                    if (subMenu.LinkCounter.Item1 > 0)
                                                    {
                                                        <span class="badge badge-primary right">@subMenu.LinkCounter.Item1</span>
                                                    }
                                                    if (subMenu.LinkCounter.Item2 > 0)
                                                    {
                                                        <span class="badge badge-success right">@subMenu.LinkCounter.Item2</span>
                                                    }
                                                    if (subMenu.LinkCounter.Item3 > 0)
                                                    {
                                                        <span class="badge badge-danger right">@subMenu.LinkCounter.Item3</span>
                                                    }
                                                }
                                            </p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
            <!-- /.sidebar-menu -->
        </nav>
    </div>
    <!-- /.sidebar -->
</aside>
