@model List<ProductCategory>;

@{
    Layout = "_Layout";
    var newProductCategory = new ProductCategory();
    ViewData["FormName"] = "_ProductCategoryForm";
}

@section css {
    <th:link rel="stylesheet" href="~/plugins/select2-4.0.5/css/select2.min.css"></th:link>
    <th:link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"></th:link>
    <!-- Toastr -->
    <th:link rel="stylesheet" href="~/plugins/toastr/toastr.min.css"></th:link>
}

<div class="card card-default">
    <div class="card-header">
        <a href="" data-toggle="modal" data-target="#add-product-category" class="btn btn-sm btn-primary float-right" title="Add User">
            <i class="fas fa-user-plus"> Add</i>
        </a>
    </div>
    <!-- /.card-header -->

    <div class="modal fade" id="add-product-category">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Product Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <th:form class="" asp-controller="ProductCategory" asp-action="Create" method="post">
                    <div class="modal-body">
                        <th:partial name="_ProductCategoryForm" model="newProductCategory" view-data="ViewData"/>
                    </div>
                </th:form>
            </div>
        </div>
    </div>

    <div class="card-body table-responsive p-0">
        <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Name</th>
                <th>Product Group</th>
                <th style="width: 160px"></th>
            </tr>
            </thead>
            <tbody>
            @{
                int index = 0;
            }
            @foreach (var productCategory in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@productCategory.Name</td>
                    <td>@productCategory.ProductGroup.Name</td>
                    <td>
                        <a href="#" onclick="openEditModal('@Url.Action("EditProductCategoryModal", new {id = productCategory.Id})',
                         '@Url.Action("Update", new {id = productCategory.Id})',
                         'Edit Product Category')"
                           class="btn btn-default btn-sm"
                           title="Edit product category">
                            <i class="fas fa-edit"></i>
                        </a>
                        <th:a asp-controller="ProductCategory"
                              asp-action="Delete"
                              asp-route-id="@productCategory.Id" class="btn-delete">
                            <span class="btn btn-default btn-sm" title="Delete product category">
                                <i class="fas fa-trash"></i>
                            </span>
                        </th:a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<th:partial name="Partials/_EditModal" model="newProductCategory" view-data="ViewData"/>

@section scripts
{
    <th:partial name="_ValidationScriptsPartial"></th:partial>
    <th:partial name="Partials/_ToastScript"></th:partial>
    <!-- Select2 -->
    <th:script src="~/plugins/select2-4.0.5/js/select2.full.min.js"></th:script>

    <th:script src="~/js/edit-form.js"></th:script>
    <script >
            //Initialize Select2 Elements
            $('.select2bs4').select2({
              theme: 'bootstrap4'
            })

                useDeleteConfirmation();
        </script>
}
