@using Shopper.Extensions.Helpers
@model List<Expenditure>;

@{
    Layout = "_Layout";
    var dateTime = DateTime.Now;
    var newExpenditure = new ExpenditureModel {Date = DateTime.Parse(dateTime.ToString("g"))};
    ViewData["FormName"] = "_ExpenditureForm";
}

@section css {
    <th:partial name="Partials/_DtCss"></th:partial>
    <th:link rel="stylesheet" href="~/plugins/select2-4.0.5/css/select2.min.css"></th:link>
    <th:link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"></th:link>
    <!-- Toastr -->
    <th:link rel="stylesheet" href="~/plugins/toastr/toastr.min.css"></th:link>
}

<div class="card card-default">
    <div class="card-header">
        <th:permission name="expenditure_add">
            <a href="" data-toggle="modal" data-target="#add-expenditure" class="btn btn-sm btn-primary float-right" title="Add User">
                Add Expenditure
            </a>

            <div class="modal fade" id="add-expenditure">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Expenditure</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <th:form class="" asp-controller="Expenditure" asp-action="Create" method="post">
                            <div class="modal-body">
                                <th:partial name="_ExpenditureForm" model="newExpenditure" view-data="ViewData"/>
                            </div>
                        </th:form>
                    </div>
                </div>
            </div>
        </th:permission>
    </div>
    <!-- /.card-header -->


    <div class="card-body table-responsive p-3">
        <table class="table table-sm table-hover dt-table">
            <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
                <th style="width: 160px"></th>
            </tr>
            </thead>
            <tbody>
            @{
                int index = 0;
            }
            @foreach (var expenditure in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@expenditure.ExpenditureType.Name</td>
                    <td>@expenditure.Amount</td>
                    <td>@expenditure.Date.FormatWithSuffixAndTime()</td>
                    <td>
                        <th:permission name="expenditure_edit">
                            <a href="#" onclick="openEditModal('@Url.Action("EditExpenditureModal", new {id = expenditure.Id})',
                                                     '@Url.Action("Update", new {id = expenditure.Id})',
                                                     'Edit Expenditure')"
                               class="btn btn-default btn-sm"
                               title="Edit product category">
                                <i class="fas fa-edit"></i>
                            </a>
                        </th:permission>
                        <th:permission name="expenditure_delete">
                            <th:a asp-controller="Expenditure"
                                  asp-action="Delete"
                                  asp-route-id="@expenditure.Id" class="btn-delete">
                                <span class="btn btn-default btn-sm" title="Delete product category">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </th:a>
                        </th:permission>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<th:permission name="expenditure_edit">
    <th:partial name="Partials/_EditModal" model="newExpenditure" view-data="ViewData"/>
</th:permission>

@section scripts
{
    <th:partial name="Partials/_DtJs"></th:partial>

    <th:partial name="_ValidationScriptsPartial"></th:partial>
    <th:partial name="Partials/_ToastScript"></th:partial>
    <!-- Select2 -->
    <th:script src="~/plugins/select2-4.0.5/js/select2.full.min.js"></th:script>


    <!-- Number formatter -->
    <th:script src="~/js/number-formatter.js"></th:script>
    <th:script src="~/js/edit-form.js"></th:script>
    <script >
            //Initialize Select2 Elements
            $('.select2bs4').select2({
              theme: 'bootstrap4'
            })

                useDeleteConfirmation();
        </script>
}
