@model Shopper.Mvc.ViewModels.SkuViewFormModel
@{
    var attributeSelects = Model.AttributeSelects;
}
@* <h1>@Model.Name</h1> *@
<th:form class="form-horizontal" enctype="multipart/form-data" asp-controller="Stock" asp-action="Create">
    <th:input type="hidden" asp-for="ProductId" value="@Model.Product.Id"></th:input>
    <div class="form-group row">
        <th:label asp-for="StockDate" class="col-sm-4 col-form-label"></th:label>
        <div class="col-sm-8">
            <th:input asp-for="StockDate" type="date" class="form-control"></th:input>
            <th:span asp-validation-for="StockDate" class="text-danger"></th:span>
        </div>
    </div>
    @*@for (var i = 0; i < Model.Product.Attributes.Count; i++)
    {
        var att = Model.Product.Attributes.ToList()[i].Attribute;
        <div class="form-group row">
            <label for="" class="col-sm-4 col-form-label">@att.Name</label>
            <div class="col-sm-8">
                <th:select class="form-control select2bs4" asp-for="Attributes[i]" id="attribute_@att.Id"
                           asp-items="@att.AttributeOptions.Select(ao => new SelectListItem {Text = ao.Name, Value = $"{ao.AttributeId}_{ao.Id}"})">
                    <option value="">-- Select @att.Name --</option>
                </th:select>
            </div>
        </div>
    }*@
    @{
        var i = 0;
    }
    @foreach (var att in attributeSelects)
    {
        <div class="form-group row">
            <label for="" class="col-sm-4 col-form-label">@att.Name</label>
            <div class="col-sm-8">
                <th:select class="form-control select2bs4" asp-for="Attributes[i]" required id="attribute_@att.Id"
                           asp-items="@att.Options">
                    <option value="">-- Select @att.Name --</option>
                </th:select>
            </div>
        </div>
        i++;
    }
    <div class="form-group row">
        <th:label asp-for="Quantity" class="col-sm-4 col-form-label"></th:label>
        <div class="col-sm-8">
            <th:input asp-for="Quantity" type="text" class="form-control profit" onkeyup="formatNumber(event)"></th:input>
            <th:span asp-validation-for="Quantity" class="text-danger"></th:span>
        </div>
    </div>
    <div class="form-group row">
        <th:label asp-for="BuyingPrice" class="col-sm-4 col-form-label"></th:label>
        <div class="col-sm-8">
            <th:input asp-for="BuyingPrice" type="text" class="form-control profit" onkeyup="formatNumber(event)"></th:input>
            <th:span asp-validation-for="BuyingPrice" class="text-danger"></th:span>
        </div>
    </div>
    <div class="form-group row">
        <th:label asp-for="SellingPrice" class="col-sm-4 col-form-label"></th:label>
        <div class="col-sm-8">
            <th:input asp-for="SellingPrice" type="text" class="form-control profit" onkeyup="formatNumber(event)"></th:input>
            <th:span asp-validation-for="SellingPrice" class="text-danger"></th:span>
        </div>
    </div>
    <div class="form-group row">
        <th:label asp-for="MaximumDiscount" class="col-sm-4 col-form-label"></th:label>
        <div class="col-sm-8">
            <th:input asp-for="MaximumDiscount" type="text" class="form-control profit" onkeyup="formatNumber(event)"></th:input>
            <th:span asp-validation-for="MaximumDiscount" class="text-danger"></th:span>
        </div>
    </div>
    @if (Model.HasExpirationDate)
    {
        <div class="form-group row">
            <th:label asp-for="ExpirationDate" class="col-sm-4 col-form-label"></th:label>
            <div class="col-sm-8">
                <th:input asp-for="ExpirationDate" required type="date" class="form-control"></th:input>
            </div>
        </div>
    }

    @*<div class="form-group row">
        <span>Profit Margin: <span id="profit"></span></span>
    </div>*@
    <div class="card-footer">
        <button type="submit" class="btn btn-info float-right">Submit</button>
        @* <button type="submit" class="btn btn-default float-right">Cancel</button> *@
    </div>
    <!-- /.card-footer -->
</th:form>

<th:partial name="_ValidationScriptsPartial"></th:partial>
