@model List<Product>;

@{
    Layout = "_Layout";
    var today = DateTime.Now;
    var productSelectItems = ViewData["Products"] as List<SelectListItem>;
}

@section css {
    <th:partial name="Partials/_DtCss"></th:partial>
    <th:link rel="stylesheet" href="~/plugins/select2/css/select2.min.css"></th:link>
    <th:link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"></th:link>
    <!-- Toastr -->
    <th:link rel="stylesheet" href="~/plugins/toastr/toastr.min.css"></th:link>
    <!-- iCheck for checkboxes and radio inputs -->
    <th:link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css"></th:link>
}

<div class="card with-border">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">Manage Stock</h3>
            <span class="pull pull-right" style="font-weight: bolder">@*@today.ToString("h:mm tt") - *@@today.ToLongDateString()</span>
        </div>
    </div>
    <!-- /.card-header -->

    @*<div class="modal fade" id="add-product-stock">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <th:form class="" asp-controller="Product" asp-action="Create" method="post">
                    <div class="modal-body">
                        <th:partial name="_ProductStockForm"/>
                    </div>
                </th:form>
            </div>
        </div>
    </div>*@

    <div class="card-body">
        @*<div class="pull pull-right">
            <div class="form-group">
                <label class="col-sm-12 control-label">Date: @today.ToLongDateString()</label>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">Time: @today.ToString("h:mm tt")</label>
            </div>
        </div>*@
        <table class="table table-borderless col-md-8">
            <thead>
            <tr>
                <th style="width:40%"></th>
                <th style="width:20%"></th>
            </tr>
            </thead>

            <tbody>
            <tr id="row_1">
                <td>
                    <th:select class="form-control select2bs4" name="products" id="products" asp-items="productSelectItems">
                        <option value="">-- Select Product --</option>
                    </th:select>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="openStockModal()">
                        <i class="fa fa-plus"></i> Add to stock
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-sm table-hover dt-table">
            <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Category</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Quantity In Stock</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                int index = 0;
            }
            @foreach (var product in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@product.ProductType.Name</td>
                    <td>@product.Name</td>
                    <td>@product.Skus.Sum(sku => sku.Quantity)</td>
                    <td>@product.Skus.Sum(sku => sku.RemainingQuantity)</td>
                    <td>
                        <th:a asp-action="OpenProductSkus" asp-route-id="@product.Id"
                              class="btn btn-default btn-sm" title="View Details">
                            @* <span class="badge badge-warning" title="Edit product"> *@
                            <i class="fas fa-eye"></i>
                            @* </span> *@
                        </th:a>

                        <th:a asp-controller="Product"
                              asp-action="Index"
                              asp-route-id="@product.Id" class="btn btn-default btn-sm btn-delete" title="Delete product">
                            @* <span class="badge badge-danger" title="Delete product"> *@
                            <i class="fas fa-trash"></i>
                            @* </span> *@
                        </th:a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<th:partial name="Partials/_DynamicModalPopup" model="Model" view-data="ViewData"></th:partial>

@section scripts
{
    <th:partial name="Partials/_DtJs"></th:partial>
    <!-- Select2 -->
    <th:script src="~/plugins/select2/js/select2.full.min.js"></th:script>

    <!-- Number formatter -->
    <th:script src="~/js/number-formatter.js"></th:script>

    <th:partial name="Partials/_ToastScript"></th:partial>
    <script>
    //Initialize Select2 Elements
            $('.select2bs4').select2({
              theme: 'bootstrap4'
            })

            // useSubmitClass();
            useDeleteConfirmation();

    function openStockModal(){
        var selected = $("#products option:selected");
        console.log("The select product is: " + selected.html() + " ("+selected.val() + ")");
        if (selected.val()){
            openFormModal("/stocks/" + selected.val() + "/open-stock-modal", 'Add Stock - ' + selected.html() , 'md', true);
            }}
        </script>

}
