@using Humanizer
@using Shopper.Extensions.Helpers
@model List<SaleInvoice>;

@{
    Layout = "_Layout";
}

@section css {
    <th:partial name="Partials/_DtCss"></th:partial>
    <!-- Toastr -->
    <th:link rel="stylesheet" href="~/plugins/toastr/toastr.min.css"></th:link>
}

<div class="card with-border">
    <div class="card-header">
        @*<a href="" data-toggle="modal" data-target="#add-product" class="btn btn-sm btn-primary float-right" title="Add User">
            <i class="fas fa-user-plus"> Sales</i>
        </a>*@
    </div>
    <!-- /.card-header -->

    <div class="card-body table-responsive p-3">
        <table class="table table-sm table-hover dt-table">
            <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Number</th>
                <th>Date</th>
                <th>Invoice Amount</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                int index = 0;
            }
            @foreach (var invoice in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@invoice.Number</td>
                    <td>@invoice.Date.FormatWithSuffix()</td>
                    <td>@invoice.Amount.ToString("N0") /-</td>
                    <td>
                        <th:a asp-controller="Sale"
                              asp-action="Index"
                              asp-route-id="@invoice.Id" class="btn btn-default btn-sm" title="View Sales">
                            @* <span class="badge badge-danger" title="Delete product"> *@
                            <i class="fas fa-list"></i>
                            @* </span> *@
                        </th:a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

@section scripts
{
    <th:partial name="Partials/_DtJs"></th:partial>
    <th:partial name="Partials/_ToastScript"></th:partial>
}
