@model List<Role>;

@{
    Layout = "_Layout";
    var newRole = new Role();
    ViewData["FormName"] = "_RoleForm";
}

@section css {
    <!-- Toastr -->
    <th:link rel="stylesheet" href="~/plugins/toastr/toastr.min.css"></th:link>
}

<div class="card card-default">
    <div class="card-header">
        <a href="" data-toggle="modal" data-target="#add-user" class="btn btn-sm btn-primary float-right" title="Add User">
            <i class="fas fa-user-plus"> Add</i>
        </a>
    </div>
    <!-- /.card-header -->

    <div class="card-body table-responsive p-3">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @{
                int index = 0;
            }
            @foreach (var role in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@role.DisplayName</td>
                    <td>
                        <th:a asp-controller="Role" asp-action="RolePermissions" asp-route-id="@role.Id" title="Role permissions" class="btn btn-sm btn-default">
                            <i class="fa fa-list-ul"></i>
                        </th:a>
                        <a href="#" onclick="openEditModal('@Url.Action("EditRoleModal", new {id = role.Id})',
                         '@Url.Action("Update", new {id = role.Id})',
                         'Edit Role')"
                           title="Edit role"
                           class="btn btn-sm btn-default">
                            @* <span class="badge badge-warning" > *@
                            <i class="fas fa-edit"></i>
                            @* </span> *@
                        </a>
                        <th:a asp-controller="Role"
                              asp-action="Delete"
                              asp-route-id="@role.Id" class="btn btn-sm btn-default btn-delete" title="Delete role">
                            @* <span class="badge badge-danger" > *@
                            <i class="fas fa-trash"></i>
                            @* </span> *@
                        </th:a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<div class="modal fade" id="add-user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <th:form class="" asp-controller="Role" asp-action="Create" method="post">
                <div class="modal-body">
                    <th:partial name="_RoleForm" model="newRole"/>
                </div>
            </th:form>
        </div>
    </div>
</div>
<th:partial name="Partials/_EditModal" model="newRole" view-data="ViewData"/>

@section scripts
{
    <th:partial name="_ValidationScriptsPartial"></th:partial>
    <th:partial name="Partials/_ToastScript"></th:partial>

    <th:script src="~/js/edit-form.js"></th:script>
    <script>
                // useSubmitClass();
                useDeleteConfirmation();
        </script>
}
