@using Attribute = Shared.Mvc.Entities.AttributeOption
@model List<AttributeOption>;

@{
    Layout = "_Layout";
    var attributeOption = new AttributeOption();
    ViewData["FormName"] = "_AttributeOptionForm";
}

@section css {
    <!-- Toastr -->
    <th:link rel="stylesheet" href="~/plugins/toastr/toastr.min.css"></th:link>
}

<div class="card with-border">
    <div class="card-header">
        <a href="" data-toggle="modal" data-target="#add-attribute-option" class="btn btn-sm btn-primary float-right" title="Add Attribute">
            <i class="fas fa-user-plus"> Add</i>
        </a>
    </div>
    <!-- /.card-header -->

    <div class="modal fade" id="add-attribute-option">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Attribute Option</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <th:form class="" asp-controller="AttributeOption" asp-action="Create" method="post">
                    <div class="modal-body">
                        <th:partial name="_AttributeOptionForm" model="attributeOption"/>
                    </div>
                </th:form>
            </div>
        </div>
    </div>

    <div class="card-body table-responsive p-3">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Option Name</th>
                <th>Atribute</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @{
                int index = 0;
            }
            @foreach (var att in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@att.Name</td>
                    <td>@att.Attribute.Name</td>
                    <td>
                        @*<th:a asp-controller="Role" asp-action="RolePermissions" asp-route-id="@role.Id" title="Role permissions" class="btn btn-sm btn-default">
                            <i class="fa fa-list-ul"></i>
                        </th:a>*@
                        <a href="#" onclick="openEditModal('@Url.Action("EditAttributeOptionModal", new {id = att.Id})',
                         '@Url.Action("Update", new {id = att.Id})',
                         'Edit Attribute Option')"
                           class="btn btn-default btn-sm"
                           title="Edit attribute option">
                            @* <span class="badge badge-warning" title="Edit attribute"> *@
                            <i class="fas fa-edit"></i>
                            @* </span> *@
                        </a>
                        <th:a asp-controller="AttributeOption"
                              asp-action="Delete"
                              asp-route-id="@att.Id" class="btn btn-default btn-sm btn-delete" title="Delete attribute option">
                            @* <span class="badge badge-danger" title="Delete attribute"> *@
                            <i class="fas fa-trash"></i>
                            @* </span> *@
                        </th:a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<th:partial name="Partials/_EditModal" model="attributeOption" view-data="ViewData"/>

@section scripts
{
    <th:script src="~/js/edit-form.js"></th:script>
    <th:partial name="_ValidationScriptsPartial"></th:partial>
    <th:partial name="Partials/_ToastScript"></th:partial>
    <script>
                // useSubmitClass();
                useDeleteConfirmation();
        </script>
}
