@using Shopper.Services.Interfaces
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@using Shopper.Extensions.Helpers
@inject ITranslator Translator;
@inject IOptions<RequestLocalizationOptions> LocOptions;

<li class="nav-item dropdown">
    <!-- Menu toggle button -->
    <a class="nav-link" data-toggle="dropdown" href="#">
        <th:auth>
            <span class="mr-2">@ViewContext.GetCurrentLanguage()</span>
        </th:auth>
        <i class="fas fa-language"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <th:a asp-controller="Home" asp-action="ChangeCulture" asp-route-culture="en" class="dropdown-item">
            @Translator["English"]
        </th:a>
        <th:a asp-controller="Home" asp-action="ChangeCulture" asp-route-culture="sw" class="dropdown-item">
            @Translator["Swahili"]
        </th:a>
        @* <th:a asp-controller="Home" asp-action="ChangeCulture" class="dropdown-item"> *@
        @*     <i class="fas fa-key mr-2"></i> Change password *@
        @* </th:a> *@
        @* <div class="dropdown-divider"></div> *@
        @* <th:a asp-controller="Account" asp-action="Logout" class="dropdown-item"> *@
        @*     <i class="fas fa-sign-out-alt mr-2"></i> Logout *@
        @* </th:a> *@
    </div>
</li>
@*<div>
    <th:form asp-controller="Home" asp-action="ChangeCulture" method="post">
        <th:select id="culture" name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="@cultureList" onchange="this.form.submit();">
        </th:select>
    </th:form>
</div>*@
